/* General Styling + Skip Link */
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000;
  text-decoration: none;
}

body {
  background-color: #f0ecf0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* Bottom Nav Styling */
nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.navbar {
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 44px;
  width: 245px;
  border-radius: 25px;
  background-color: #f465d5;
  justify-content: space-evenly;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  z-index: 9999;
}

.navbar a {
  color: #f0ecf0;
}

.side_contents {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px 20px 20px;
  font-size: 18px;
}

.side_contents p {
  color: #f465d5;
  font-weight: 700;
}

.name {
  font-weight: 700;
  color: #f465d5;
}

.last_name {
  font-weight: 400;
  color: #f465d5;
}

/* Main Content Styling */
.hidden_message {
  display: none;
}

.page_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.page_title h1,
h2 {
  color: #f21111;
}

.title {
  margin: 45px 0px 15px 0px;
  font-size: 4vh;
}

.title_description {
  max-width: 28vw;
  font-style: italic;
  font-size: 2vh;
  font-weight: 400;
}

.timeline {
  margin-top: 10px;
  font-style: italic;
  font-size: 2vh;
}

/* .message_heading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
} */

.intro_pic_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4vh auto 0 auto;
  max-width: 50vw;
  /* border-radius: 20px; */
  /* align-items: center; */
  justify-content: center;
  text-align: center;
}

.intro_pic_container img {
  width: 100%;
  /* border-radius: 0px; */
  border: #f21111 5px solid;
  border-radius: 15px;
}

.boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  /* width: 70vw; */
  margin-bottom: 45px;
}

.images_holder {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  margin: 75px 30px 15px 30px;
}

.differentiator {
  font-size: 2vh;
  color: #000;
  margin-bottom: 5px;
}

.images_holder:first-of-type {
  margin-top: 20px;
}

.images_holder img {
  width: 100%;
  border: #000 5px solid;
  border-radius: 15px;
}

#grid_text {
  margin: auto;
  margin-top: 0px !important;
}

.main_content div:last-child {
  margin-bottom: 140px;
}

#proj {
  margin-top: 21vh;
  margin-bottom: 45px;
}

#conclusion {
  margin-top: 45px;
}

.section_headings {
  font-size: 3vh;
  font-weight: 700;
  text-align: center;
}

.contents {
  text-align: left;
  width: 70vw;
  font-size: 1.05rem;
  font-weight: 400;
  margin-top: 20px;
  line-height: 1.35rem;
  padding: 15px;
  border: #000 5px solid;
  border-radius: 15px;
}

#proj_text {
  width: 70vw;
}

#problem_text {
  width: 70vw;
}

#solution_text {
  width: 70vw;
}

@media screen and (max-width: 992px) {
  main {
    display: none;
  }

  .hidden_message {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 20px;
  }

  .hidden_message p {
    color: #f21111;
    font-size: 3.5vh;
  }
}

@media screen and (max-width: 600px) {
  .side_contents a {
    font-size: 12px;
  }

  .side_contents p {
    font-size: 12px;
  }

  .message_heading {
    position: absolute;
    top: 575px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
  }
  .contents {
    width: 90vw;
    font-size: 2vh;
    line-height: 2vh;
  }

  main {
    display: none;
  }

  .hidden_message {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 20px;
  }

  .hidden_message p {
    color: #f21111;
    font-size: 3.5vh;
  }
}
