/* General Styling + Skip Link */
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #ffffff;
  text-decoration: none;
}

body {
  background-color: #ffffff;
}

/* Bottom Nav Styling */
nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.navbar {
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 44px;
  width: 245px;
  border-radius: 25px;
  background-color: #f465d5;
  justify-content: space-evenly;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

/* .home {
  text-decoration: underline;
  text-underline-offset: 4px;
} */

.side_contents {
  display: flex;
  justify-content: space-between;
  margin: 0 11px 9px 11px;
}

.side_contents p {
  color: #f465d5;
  font-weight: 700;
}

.name {
  font-weight: 700;
  color: #f465d5;
}

.last_name {
  font-weight: 400;
  color: #f465d5;
}
